body {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

.header {
  height: 90px;
  border: 1px solid rgb(235, 225, 225);
  display: flex;
  align-items: center;
  padding: 0px 20px;
}

.navigate {
  margin-left: 90px;
  align-items: center;
  gap: 20px;
}

.current_address h5 {
  margin-top: 10px;
  font-weight: 700;
}

.searchbar {
  margin-left: 50px;
  width: 500px;
  height: 50px;
  display: flex;
  justify-content: space-between;
  gap: 30px;
  align-items: center;
  background-color: rgb(248, 243, 243);
  border: 1px solid rgb(235, 225, 225);
  border-radius: 8px;
}

.searchbar input {
  border: none;
  outline: none;
  background-color: rgb(248, 243, 243);
}

.searchbar img {
  height: 20px;
  margin: 0px 10px;
}

.login {
  margin: 0px 40px;
}

.login a {
  font-size: 20px;
  text-decoration: none;
  color: rgb(75, 74, 74);
  font-weight: 400;
}

.mycart {
  margin-left: 35px;
}

.mycart .button {
  display: flex;
  justify-content: center;
  gap: 8px;
  align-items: center;
  background-color: rgb(0, 163, 0);
  border: 1px solid rgb(0, 163, 0);
  border-radius: 8px;
}

.mycart .button i {
  font-size: 50px;
  height: 50px;
  width: 50px;
  color: red;
}

.mycart .button span {
  color: white;
}

.mycart .button p {
  color: white;
  font-weight: 500;
  margin-top: 10px;
  margin-right: 4px;
}

.hero_section {
  margin: 0px 40px;
}

.hero_section .offers {
  margin: 15px 13px;
  display: flex;
  overflow-x: hidden;
  gap: 20px;
}
.hero_section .offers img {
  border-radius: 1rem;
  height: 200px;
  width: 400px;
}

.hero_section .feature_product {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
}

.hero_section .feature_product img {
  border-radius: 1rem;
  width: 125px;
}

h1 {
  text-align: center;
}

.container {
  width: 180px;
  border: 1px solid rgb(235, 225, 225);
  border-radius: 6px;
}

.container .top {
  height: 50%;
}

.container .top img {
  width: 130px;
  margin-left: 12px;
}

.title .product_name {
  font-size: 13px;
  font-weight: 600;
}

.title p {
  font-size: 13px;
  font-weight: normal;
  display: block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.bottom .price {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1px;
}

.bottom .price p {
  font-size: 13px;
  font-weight: 600;
}

.bottom .price .button {
  width: 70px;
  height: 30px;
  font-size: 13px;
  font-weight: 600;
  background-color: rgba(248, 243, 243, 0.877);
  border: 1px solid rgb(0, 163, 0);
  border-radius: 4px;
  color: rgb(0, 163, 0);
}

.product_section {
  margin: 25px 50px;
}

.product_section h4 {
  margin: 20px 15px;
  font-weight: 700;
}

/* ////////////////////////////////////////////////////////////////////////////////////////////
                                      Footer
//////////////////////////////////////////////////////////////////////////////////////////// */

.footer {
  margin: 80px 35px 0px 35px;
}

.footer .references {
  display: flex;
}

.references div h5 {
  margin-left: 28px;
  margin-bottom: 20px;
}

.references div {
  gap: 50px;
}

.references div ul li {
  list-style: none;
  color: rgb(133, 127, 127);
  margin-bottom: 5px;
}

.references .categories div {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 70px;
}

.references .categories div ul {
  width: 200px;
}

.references .categories div ul li {
  list-style: none;
  color: rgb(133, 127, 127);
  margin-bottom: 5px;
}

/* .references .categories div{
  gap: 50px;
} */

.references .categories {
  margin-left: 150px;
}

.references .categories span {
  margin: 0px 8px;
  font-weight: 500;
  font-size: 15px;
  color: rgb(0, 163, 0);
}

.contactus {
  margin: 25px 20px;
  display: flex;
  align-items: center;
  gap: 125px;
  color: rgb(133, 127, 127);
}

.contactus div {
  width: 33%;
}

.contactus .para {
  font-size: 13px;
}

.contactus .app {
  display: flex;
  align-items: center;
  gap: 15px;
}

.contactus .app p {
  margin-top: 10px;
  font-weight: 700;
}

.contactus .social_media {
  display: flex;
  justify-content: end;
}

.social_media img {
  width: 75px;
  height: 70px;
}

.contactus .app img {
  width: 90px;
  height: 30px;
}

.bio p {
  margin: 0px 15px;
  color: rgb(133, 127, 127);
}

.addremove {
  display: flex;
  justify-content: space-evenly;
  width: 70px;
  height: 30px;
  font-size: 13px;
  font-weight: 600;
  background-color: rgb(0, 163, 0);
  border: 1px solid rgb(0, 163, 0);
  border-radius: 4px;
  color: white;
}

.addremove:hover {
  cursor: pointer;
}

.addremove p {
  margin-top: 4px;
}

.addremove .icon {
  font-size: 40px;
}

.modal-wrapper {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.192);
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 20;
}

.modal-body {
  background-color: white;
}

a,
a:hover {
  text-decoration: none;
  color: black;
}

/* ////////////////////////////////////////////////////////////////////////////////////////////
                                      Single Product Page
//////////////////////////////////////////////////////////////////////////////////////////// */
.single_product_page {
  border: 2px solid red;
  display: flex;
  margin: 0px 40px;
}

.single_product_page .left {
  display: flex;
  flex-direction: column;
  border: 2px solid green;
  width: 50%;
}

.left #img {
  margin: 60px 100px;
  width: 400px;
}

.left .justyfication {
  margin-top: 20px;
}

.left .justyfication h5 {
  font-weight: 700;
  color: rgb(65, 61, 61);
}

.justyfication .second_child {
  display: flex;
  margin-bottom: 1em;
}

.justyfication div img {
  width: 60px;
  height: 60px;
}

.justyfication .delivery_info {
  display: flex;
  flex-direction: column;
  margin-left: 1em;
  justify-content: center;
}

.justyfication .delivery_info p {
  margin: 0;
  font-size: 14px;
}

.justyfication .delivery_info .para_info {
  color: gray;
}

.single_product_page .right {
  border: 2px solid green;
  padding: 20px;
  width: 50%;
}

.right .product_name {
  margin-top: 50px;
}

.right .product_name .delivery_time {
  display: flex;
  gap: 5px;
  align-items: center;
}

.right .product_name .delivery_time p {
  margin-top: 16px;
  font-size: 14px;
  font-weight: 700;
}

.cart {
  display: flex;
}

.cart .cart_info {
  display: flex;
  flex-direction: column;
}

.cart .cart_info p {
  margin: 0;
  font-size: 16px;
}

.cart .cart_price {
  font-weight: 700;
}

.product_info {
  margin: 30px 0px;
  display: flex;
  gap: 320px;
  align-items: center;
}

/* ////////////////////////////////////////////////////////////////////////////////////////////
                                      Add To Cart
//////////////////////////////////////////////////////////////////////////////////////////// */
.cart_info {
  display: flex;
}

.cart_info .addremoveitems {
  display: flex;
  justify-content: space-between;
  width: 70px;
  height: 30px;
  background-color: rgb(0, 163, 0);
  border: 1px solid rgb(0, 163, 0);
  border-radius: 4px;
  color: white;
}

.cart_info .addremoveitems p {
  margin-top: 2px;
}

.cart_info .addremoveitems button {
  font-weight: 600;
  background-color: rgb(0, 163, 0);
  border: 1px solid rgb(0, 163, 0);
  color: white;
}

.addtocart {
  margin-left: 2em;
  width: 100px;
  height: 30px;
  font-size: 13px;
  font-weight: 600;
  background-color: rgba(248, 243, 243, 0.877);
  border: 1px solid rgb(0, 163, 0);
  border-radius: 4px;
  color: rgb(0, 163, 0);
}

/* ////////////////////////////////////////////////////////////////////////////////////////////
                                      My Cart
//////////////////////////////////////////////////////////////////////////////////////////// */
.cart-wrapper {
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  background-color: #272626d7;
  z-index: 20;
}

.cart-section {
  position: fixed;
  top: 0;
  right: 0;
  width: 30vw;
  height: 100vh;
  background-color: white;
  border: 2px solid green;
  z-index: 21;
  overflow-y: scroll;
}

.cart-section .hero {
  margin: 20px 20px;
  display: flex;
  justify-content: space-between;
}

.cart-section .hero-subsection {
  background-color: rgba(166, 166, 241, 0.336);
  border: 2px solid black;
}

.hero-subsection .cartitems {
  background-color: white;
  border: 1px silid white;
  border-radius: 5px;
  margin: 10px 10px;
}

.cartItem {
  display: flex;
  gap: 10px;
  align-items: center;
}

.cartItem .img_product {
  width: 60px;
  border: 1px solid gray;
  border-radius: 5px;
  margin: 5px 5px;
}

.cartItem .unitIconomics {
  display: flex;
  flex-direction: column;
  width: 35%;
}
.cartItem .unitIconomics p {
  margin: 0;
  font-size: 13px;
}

.mrp {
  margin-right: 5px;
  width: 60px;
  height: 30px;
  font-size: 13px;
  font-weight: 600;
  background-color: rgba(248, 243, 243, 0.877);
  border: 1px solid rgb(0, 163, 0);
  border-radius: 4px;
  color: rgb(0, 163, 0);
}

.mrp p {
  padding: 3px 5px;
}
